<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand">
      <img src="assets/img/hm_logo.jpg" alt="hm logo" width="50%" height="50%"/>
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/hashfunction" routerLinkActive="active" ariaCurrentWhenActive="page">Hash Funktion</a></li>
    </ul>
    <div>
      <!-- Add login/logout buttons or user-related actions here -->
    </div>
</nav>
<router-outlet></router-outlet>