<div *ngFor="let transaction of transactions; let index = index">
  <div class="transaction card mb-3">
    <div class="card-header">
      <h5 class="card-title">Transaction ID: {{ transaction.txId }}</h5>
    </div>
    <div class="card-body">
      <div class="inputs">
        <h6>Inputs</h6>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let input of transaction.inputs">
            <div style="display: flex; align-items: center;">
              <i class="bi bi-geo-alt-fill tx-icon-style"
                title="Definiert wo die Transaktion zu finden ist. Previous Tx Hash: Identifiziert die vorherige Transaktion. Index: der wievielte Output der Transaktion ausgegeben werden soll."></i>
              <div>
                <strong>Previous Tx Hash: </strong> {{ input.previousTxHash }}<br>
                <strong>Index: </strong> {{ input.index }}
              </div>
            </div>
            <!-- Umschaltbare Darstellung zwischen Hex und ASM -->
            <div class="mt-4" style="display: flex; align-items: center;">
              <i class="bi bi-key-fill tx-icon-style"
                title="ScriptSig enthält die Informationen, um die Schritte im ScriptPubKey der vorherigen Transaktion zu erfüllen und den Input auszugeben."></i>
              <div>
                <div class="btn-group btn-group-sm mb-1" role="group" aria-label="Basic example">
                  <!-- Bootstrap Buttons für Hex und ASM -->
                  <button type="button" class="btn btn-outline-secondary"
                    [class.active]="!isAsmView[input.previousTxHash]" (click)="setScriptSigView(input, false)"
                    title="hexadezimale Darstellung des ScriptSig">
                    Hex
                  </button>
                  <button type="button" class="btn btn-outline-secondary"
                    [class.active]="isAsmView[input.previousTxHash]"
                    title="menschenlesbare Darstellung des Bitcoin-Scripts" (click)="setScriptSigView(input, true)">
                    ASM
                  </button>
                </div>
                <!-- Anzeige der ScriptSig in der entsprechenden Darstellung -->
                <div>
                  <strong>ScriptSig: </strong>
                  <span *ngIf="isAsmView[input.previousTxHash]">
                    <div [innerHTML]="hexToAsmScriptSig(input.scriptSig)"></div>
                  </span>
                  <span *ngIf="!isAsmView[input.previousTxHash]">{{ input.scriptSig }}</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="outputs mt-3">
        <h6>Outputs</h6>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let output of transaction.outputs">
            <div style="display: flex; align-items: center;">
              <i class="bi bi-currency-bitcoin bitcoin-color tx-icon-style"
                title="Gibt den Wert des Outputs in Satoshis an."></i>
              <div>
                <strong>Value: </strong>
                <!-- Input-Feld für den Value, das der Benutzer ändern kann -->
                <input type="number" [(ngModel)]="output.value" (ngModelChange)="onValueChange(transaction)"
                  class="form-control value-input">
              </div>
            </div>
            <!-- Umschaltbare Darstellung zwischen Hex und ASM für ScriptPubKey -->
            <div class="mt-4" style="display: flex; align-items: center;">
              <i class="bi bi-lock-fill tx-icon-style"
                title="ScriptPubKey definiert die Bedingungen, unter denen die Bitcoins ausgegeben werden können."></i>
              <div>
                <div class="btn-group btn-group-sm mb-1" role="group" aria-label="Basic example">
                  <!-- Bootstrap Buttons für Hex und ASM -->
                  <button type="button" class="btn btn-outline-secondary"
                    [class.active]="!isAsmView[output.scriptPubKey]" (click)="setScriptPubKeyView(output, false)">
                    Hex
                  </button>
                  <button type="button" class="btn btn-outline-secondary"
                    [class.active]="isAsmView[output.scriptPubKey]" (click)="setScriptPubKeyView(output, true)">
                    ASM
                  </button>
                </div>

                <!-- Anzeige des ScriptPubKey in der entsprechenden Darstellung -->
                <div>
                  <strong>ScriptPubKey: </strong>
                  <span *ngIf="isAsmView[output.scriptPubKey]">
                    <div [innerHTML]="hexToAsm(output.scriptPubKey)"></div>
                  </span>
                    <!-- {{ hexToAsm(output.scriptPubKey) }}</span> -->
                  <span *ngIf="!isAsmView[output.scriptPubKey]">{{ output.scriptPubKey }}</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>