<div *ngFor="let transaction of transactions; let index = index">


  <div class="transaction card mb-3">
    <div class="card-header">
      <h5 class="card-title">Transaction ID: {{ transaction.txId }}</h5>
    </div>
    <div class="card-body">
      <div class="inputs">
        <h6>Inputs</h6>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let input of transaction.inputs">
            <div style="display: flex; align-items: center;">
              <i class="bi bi-geo-alt-fill tx-icon-style"
              title="Definiert wo die Transaktion zu finden ist. Previous Tx Hash: Identifiziert die vorherige Transaktion. Index: der wievielte Output der Transaktion ausgegeben werden soll."></i>
              <div>
                <strong>Previous Tx Hash: </strong> {{ input.previousTxHash }}<br>
                <strong>Index: </strong> {{ input.index }}
              </div>
            </div>
            <div style="display: flex; align-items: center;">
              <i class="bi bi-key-fill tx-icon-style"
              title="ScriptSig enthält die Informationen, um die Schritte im ScriptPubKey der vorherigen Transaktion zu erfüllen und den Input auszugeben."></i>
              <div>
                <strong>ScriptSig: </strong> {{ input.scriptSig }}
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="outputs mt-3">
        <h6>Outputs</h6>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let output of transaction.outputs">
            <div style="display: flex; align-items: center;">
              <i class="bi bi-currency-bitcoin bitcoin-color tx-icon-style"
              title="Gibt den Wert des Outputs in Satoshis an."></i>
              <div>
                <strong>Value: </strong>
                <!-- Input-Feld für den Value, das der Benutzer ändern kann -->
                <input type="number" [(ngModel)]="output.value" (ngModelChange)="onValueChange(transaction)" class="form-control value-input">
              </div>
            </div>
            <div style="display: flex; align-items: center;">
              <i class="bi bi-lock-fill tx-icon-style"
              title="ScriptPubKey definiert die Bedingungen, unter denen die Bitcoins ausgegeben werden können."></i>
              <div>
                <strong>ScriptPubKey: </strong> {{ output.scriptPubKey }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>


<!-- <div class="transaction card mb-3">
  <div *ngFor="let tx of transactions" class="mb-4">

    <div class="card-header">
      <h5 class="card-title">Transaction ID: {{ tx.txId }}</h5>
    </div>
    <div class="card-body">
      <div class="inputs">
        <h6>Inputs</h6>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let input of tx.inputs">
            <div style="display: flex; align-items: center;">
              <i class="bi bi-geo-alt-fill tx-icon-style"></i>
              <div>
                <strong>Previous Tx Hash:</strong> {{ input.previousTxHash }}<br>
                <strong>Output Index:</strong> {{ input.outputIndex }}
              </div>
            </div>
            <div style="display: flex; align-items: center;">
              <i class="bi bi-key-fill tx-icon-style" ></i>
              <strong>ScriptSig:</strong> {{ input.scriptSig }}
            </div>
          </li>
        </ul>
      </div>
      <div class="outputs mt-3">
        <h6>Outputs</h6>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let output of tx.outputs">
            <div style="display: flex; align-items: center;">
              <i class="bi bi-currency-bitcoin bitcoin-color tx-icon-style"></i>
              <strong>Value:</strong> {{ output.value }} Satoshis
            </div>
            <div style="display: flex; align-items: center;">
              <i class="bi bi-lock-fill tx-icon-style" title="ScriptPubKey definiert die Bedingungen, unter denen die Bitcoins ausgegeben werden können."></i>
              <strong>ScriptPubKey:</strong> {{ output.scriptPubKey }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div> -->


<!-- <div *ngFor="let transaction of transactions">
  <div class="transaction card mb-3">
    <div class="card-header">
          <h5 class="card-title">Transaction ID: {{ transaction.txId }}</h5>
        </div>
        <div class="card-body">
          <div class="inputs">
            <h6>Inputs</h6>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let input of transaction.inputs">
                <strong>Previous Tx Hash:</strong> {{ input.previousTxHash }}<br>
                <strong>Output Index:</strong> {{ input.outputIndex }}<br>
                <strong>ScriptSig:</strong> {{ input.scriptSig }}
              </li>
            </ul>
          </div>
          <div class="outputs mt-3">
            <h6>Outputs</h6>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let output of transaction.outputs">
                <strong>Value:</strong> {{ output.value }} Satoshis<br>
                <strong>ScriptPubKey:</strong> {{ output.scriptPubKey }}
              </li>
            </ul>
          </div>
        </div>
      </div>
</div> -->
