<div class="container-fluid m-4">
    <div class="row py-5">
        <div *ngFor="let block of blocks; let i = index" class="mb-4">
            <app-block-template
                [previousBlockHash]="block.previousBlockHash"
                [nBits]="block.nBits"
                [transactions]="block.transactions"
                (hashChange)="onHashChange(i, $event)"
            >
            </app-block-template>
            <!-- Button um einen neuen Block hinzuzufügen -->
            <button *ngIf="i === blocks.length - 1" [disabled]="!(block.mined && i === blocks.length - 1)" class="btn btn-success mt-3" (click)="addBlock(block.hash)">
                + Neuer Block
            </button>
        </div>
    </div>
</div>
