<div class="container mt-4" [ngClass]="{'hash-invalid': !isHashValid(), 'hash-valid': isHashValid()}">
  <h3 class="mb-4">Block</h3>
  <div class="form-group">
    <label for="blockNumber">Block:</label>
    <input type="text" id="blockNumber" class="form-control" [(ngModel)]="blockNumber" disabled>
  </div>
  <div class="form-group">
    <label for="nonce">Nonce:</label>
    <input type="text" id="nonce" class="form-control" [(ngModel)]="nonce" disabled>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="leadingZeros">Führende Nullen:</label>
      <input type="number" id="leadingZeros" class="form-control" [(ngModel)]="leadingZeros" (ngModelChange)="updateNBits()" min="0" max="8">
      <small *ngIf="leadingZeros > 8" class="form-text text-danger">Die Anzahl der führenden Nullen darf nicht mehr als 8 betragen, um die Berechnung in akzeptabler Zeit zu halten. Der Hash wird nur bis zu 8 führende Nullen berechnet.</small>
    </div>
    <div class="form-group col-md-6">
      <label for="nBitsHex">nBits (Hex):</label>
      <input type="text" id="nBitsHex" class="form-control" [value]="nBitsHex" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="data">Daten:</label>
    <textarea id="data" class="form-control" rows="3" [(ngModel)]="data" (ngModelChange)="updateHash()"></textarea>
  </div>
  <div class="form-group">
    <label for="hash">Hash:</label>
    <input type="text" id="hash" class="form-control" [(ngModel)]="hash" disabled>
  </div>
  <div class="form-group">
    <small class="form-text text-muted">Hash muss mit {{ requiredZeros }} beginnen.</small>
  </div>
  <button class="btn btn-primary" (click)="mine()">Mine</button>
</div>
