<div class="container mt-4" [ngClass]="{'hash-invalid': !hash.startsWith('0000'), 'hash-valid': hash.startsWith('0000')}">
    <h3 class="mb-4">Block</h3>
    <div class="form-group">
      <label for="blockNumber">Block:</label>
      <input type="text" id="blockNumber" class="form-control" [(ngModel)]="blockNumber" disabled>
    </div>
    <div class="form-group">
      <label for="nonce">Nonce:</label>
      <input type="text" id="nonce" class="form-control" [(ngModel)]="nonce" disabled>
    </div>
    <div class="form-group">
      <label for="data">Daten:</label>
      <textarea id="data" class="form-control" rows="3" [(ngModel)]="data" (ngModelChange)="updateHash()"></textarea>
    </div>
    <div class="form-group">
      <label for="hash">Hash:</label>
      <input type="text" id="hash" class="form-control" [(ngModel)]="hash" disabled>
    </div>
    <button class="btn btn-primary" (click)="mine()">Mine</button>
  </div>
