.container {
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

button {
  margin-top: 10px;
}

.hash-valid {
  background-color: #a2c9a2;
}

.hash-invalid {
  background-color: #fca5a5;
}