<div class="container mt-4">
    <div class="row">
      <div class="">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">SHA-256 Hash</h5>
            <input type="text" class="form-control mb-3" (input)="onInput($event)" placeholder="Was wollen Sie gehasht haben?">
            <p class="card-text">SHA-256 Hash (hexadezimal):</p>
            <div class="alert alert-secondary" role="alert">
                {{ hashHex }}
            </div>
            <p class="card-text">SHA-256 Hash (binär):</p>
            <div class="alert alert-secondary" role="alert">
              {{ hash }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
