/* You can add global styles to this file, and also import other style files */
a:link {
    text-decoration: none;
}

.hover-tooltip {
    border-bottom: 1px dotted #000;
    border-color: red;
    cursor: help; /* Changes the cursor to a question mark*/
}

h3 {
    border-left: 10px solid transparent;
}

.hash-valid {
    background-color: #a2c9a2;
  }

  .hash-invalid {
    background-color: #fca5a5;
  }

.bitcoin-color {
    color: #f7931a;
}