/* Alle divs innerhalb der card-body werden als inline angezeigt */
.rawTx div {
    display: inline;
    padding: 1px 2px;
    transition: color 0.3s;
    text-align: justify;
}

/* Hover-Effekt für alle divs innerhalb der card-body */
.rawTx div:hover {
    color: #f7931a; /* Schwarzer Text beim Hover */
    border-radius: 3px;
}
